@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What does your future hold?</h1>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Reveal Your Fortune", "Create", "Customers")> </a></p>
</div>