@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What does your future hold?</h1>
    <button type="button" class="btn btn-primary btn-lg" onclick="window.open('/Customers/Create')">Reveal</button>
</div>